<div>
	<div class="Cards_List">
		{{#each cards}}
		<button class="grid-item">
			<img class="img" src="{{this}}" alt="card">
		</button>

		{{/each}}
	</div>

</div>

<tr>
    <td>Batman</td>
    <td>1:20:17</td>
</tr>