<section>

    <div>
        <header>
            <div>
                <h1>Memory Game</h1>
            </div>
        </header>
    </div>

    <div class="div-mainmenu">

        <div class="menu-title">
            <h3>Main Menu</h3>
        </div>

        <div class="menu-options">
            <ul>
                <li><button id="create-account-button">Create Account</button></li>
                <li><button id="login-button">Login</button></li>
            </ul>
        </div>

    </div>

</section>