<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Memory Game</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/script.js"></script>
		<script src="/assets/js/images.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
