<section class="bg">
    <link rel="stylesheet" href="/assets/css/board.css" type="text/css" />

    <div class="gameboard-container">
        <div></div>
    </div>


    <div id="div-main">

        <div id="div-header">
            <div class="header-title">
                <h1>Memory Game</h1>
                <h2 id="h2user">User: <span id="userName">Not User Logged In</span></h2>
            </div>

            <div class="header-score">
                <h2><label for="category">Category:</label>
                    <select name="category" id="category">
                        <option value="flags">Countries</option>
                        <option value="food">Food</option>
                        <option value="cats">Animals</option>
                        <option value="landmarks">Places</option>
                        <option value="sports">Sports</option>
                    </select>

                </h2>
                <h2>Timer:<span id="time"></span></h2>
                <div id="controls">

                </div>
                {{!-- </span> <span id="total">/8</span> --}}

            </div>

        </div>



        <div class="grid-container">
            {{!-- {{{ board }}} --}}

            <div id="Cards_List">
                {{#each cards}}



                <button class="grid-item">
                    <img class="img" src="{{this}}" alt=" card" id={{@index}}>
                </button>

                {{/each}}
            </div>




            {{!--  --}}
        </div>

    </div>
    <script src="/assets/js/board.js"></script>
    <script src="/assets/js/timer.js"></script>
</section>