<section>

    <div>
        <header>
            <div>
                <h1>Memory Game</h1>
            </div>
        </header>
    </div>

    <div class="div-mainmenu">

        <div class="menu-title">
            <h3>Main Menu</h3>
        </div>

        <div class="menu-options">
            <ul>
                <li><button id="create-account-button" class="start">Create Account</button></li>
                <li><button id="login-button">Login</button></li>
            </ul>
        </div>

    </div>

    <!-- Create Account Modal -->
    <div id="create-account-modal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Create Account</h3>
            <form action="">
                <div class="email-div form-field">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="new-email">
                </div>
                <div class="username-div form-field">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username">
                </div>
                <div class="password-div form-field">
                    <label for="password">Password:</label>
                    <input type="password" id="pwd" name="pwd">
                </div>
                <div class="button-div form-field">
                    <button class="modal-buttons" id="create-submit-button">Create Account</button>
                    <button class="modal-buttons" id="cancel-button">Cancel</button>
                </div>
            </form>
        </div>

    </div>


</section>


