<section>

    <div>
        <header>
            <div>
                <h1>Memory Game</h1>
            </div>
        </header>
    </div>

    <section class="landing">
        <div>

        </div>
    </section>

    <div class="div-mainmenu">

        <div class="menu-options">
            <ul>
                <li><button id="create-account-button" class="start">Create Account</button></li>
                <li><button id="login-button">Login</button></li>
            </ul>
        </div>

    </div>

    <!-- Create Account Modal -->
    <div id="create-account-modal" class="create-modal">

        <!-- Modal content -->
        <div class="modal-content">
            <h3>Create Account</h3>
            <form action="">
                <div class="email-div form-field">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="new-email">
                </div>
                <div class="username-div form-field">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="create-username">
                </div>
                <div class="password-div form-field">
                    <label for="password">Password:</label>
                    <input type="password" id="create-pwd" name="pwd">
                </div>
                <div class="button-div form-field">
                    <button class="modal-buttons" id="create-submit-button">Create Account</button>
                    <button class="modal-buttons cancel-button">Cancel</button>
                </div>
            </form>
        </div>

    </div>
    
    <!-- Log-in Modal -->
    <div id="create-account-modal" class="login-modal">

        <!-- Modal content -->
        <div class="modal-content">
            <h3>Log-In</h3>
            <form action="">
                <div class="username-div form-field">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="login-username">
                </div>
                <div class="password-div form-field">
                    <label for="password">Password:</label>
                    <input type="password" id="login-pwd" name="pwd">
                </div>
                <div class="button-div form-field">
                    <button class="modal-buttons" id="login-submit-button">Log-In</button>
                    <button class="modal-buttons cancel-button">Cancel</button>
                </div>
            </form>
        </div>

    </div>


</section>


