<head>
    <link href="https://fonts.googleapis.com/css2?family=Exo 2&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="/assets/css/index.css" type="text/css" />
</head>


<section class="wrapper">
    <header>
        <img src="/assets/img/icon.png" alt="logo" />
        <h1>MemoryGame</h1>
    </header>
    <div>
        <div class="welcome">
            <h2 id="quote">We Make Science Fun!</h2>
            <blockquote id="about">Studies have shown that playing a memory game can improve concentration, increase
                short term memory and attention to detail. MemoryGame was designed with users of all ages in mind to
                keep the whole family entretained while increasing cognitive development, brain activity, working
                memory and even better reading performance. What are you waiting for? Create your FREE account today!
            </blockquote>
        </div>
    </div>

    <div class="div-mainmenu">
        <div>
            <h3>**Creating a free account will allow you to save your time scores and compare them with other users.</h3>
        </div>

        <div class="gridContainer">
            <div class="menu-options">
                <ul>
                    <li><button id="create-account-button">GET STARTED!</button></li>
                    <li><button id="login-button">Login</button></li>
                    <li><button id="leaderboard-button">Leaderboard</button></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><button id="play-button">Continue As Guest</button></li>
                    <li>
                        <p>Playing without an account DOES NOT save your time score to the leaderboards.</p>
                    </li>
                </ul>
            </div>

        </div>

        <!-- Create Account Modal -->
        <div id="create-account-modal" class="create-modal">

            <!-- Modal content -->
            <div class="modal-content">
                <h3>Create Account</h3>
                <form id="new-account-form">
                    <div class="email-div form-field">
                        <label for="email">Email:</label>
                        <input type="email" name="email" id="new-email">
                    </div>
                    <div class="username-div form-field">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="create-username">
                    </div>
                    <div class="password-div form-field">
                        <label for="password">Password:</label>
                        <input type="password" id="create-pwd" name="pwd">
                    </div>
                    <div class="password-confirm-div form-field">
                        <label for="password">Confirm Password:</label>
                        <input type="password" id="confirm-pwd" name="pwd">
                    </div>
                    <div class="button-div form-field">
                        <button class="modal-buttons" id="create-submit-button">Create Account</button>
                        <button class="modal-buttons cancel-button">Cancel</button>
                    </div>
                </form>
            </div>

        </div>

        <!-- Log-in Modal -->
        <div id="create-account-modal" class="login-modal">

            <!-- Modal content -->
            <div class="modal-content">
                <h3>Log-In</h3>
                <form id="login-form">
                    <div class="username-div form-field">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="login-username">
                    </div>
                    <div class="password-div form-field">
                        <label for="password">Password:</label>
                        <input type="password" id="login-pwd" name="pwd">
                    </div>
                    <div class="button-div form-field">
                        <button class="modal-buttons" id="login-submit-button">Log-In</button>
                        <button class="modal-buttons cancel-button">Cancel</button>
                    </div>
                </form>
            </div>

        </div>

        <div class="poster">
            <img src="/assets/img/brain-design.png" alt="brain" />
        </div>
</section>
{{!-- FOOTER --}}
<div class="footer">
    <div class="footer-content">
        <img src="/assets/img/GitHub-Mark.png" alt="github" />
        <h4> Contact Us:
            <ul>
                <li><a href="https://github.com/patches9119">Patrick</a></li>
                <li><a href="https://github.com/AldoCarrillo">Aldo</a></li>
                <li><a href="https://github.com/JonesElliott">Elliott</a></li>
                <li><a href="https://github.com/analuna01">Ana</a></li>
            </ul>
            <h4>
    </div>

    <div class="footer-copyRight">

        © 2020 Copyright | Created by: Patrick Sanders - Aldo Carrillo - Elliott Jones - Ana Luna
    </div>

</div>