<header>
    <div>
        <h1>Leaderboard</h1>
        <p>Fastest memory players we've seen!</p>
    </div>
</header>

<div>
    <table>
        <tr>
            <th>Username</th>
            <th>Time</th>
        </tr>
        {{!-- {{#each user}} --}}
        <tr class="data-tr">
            <td class="">Superman</td>
            <td>00:30:01</td>
        </tr>
        <tr class="data-tr">
            <td class="">Batman</td>
            <td>01:20:17</td>
        </tr>
        <tr class="data-tr">
            <td class="">Frodo</td>
            <td>36:42:59</td>
        </tr>
        {{!-- {{/each}} --}}
    </table>
</div>
