<header>
    <div>
        <h1>Leaderboard</h1>
        <h3>Fastest memory players we've seen!</h3>
        <button id="home-button">Home</button>
        <button id="play-button">Play Game</button>
    </div>
</header>

<div>
    <table>
        <tr>
            <th>Username</th>
            <th>Time</th>
        </tr>
        {{#each users}}
          {{> user-partial username=username time=time}}
        {{/each}}
    </table>
</div>
