.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: lightslategray;
  padding: 10px;
  width: 98%;
}
.grid-item {
  padding: 1%;

  width: 24%;
  height: 190px;
  background-color: moccasin;
}

.img {
  height: 140px;
  width: 140px;
}

h1 {
  color: lightslategray;
  font-family: arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  text-align: center;
}
