.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: gray;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  border-radius: 2px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 20%;
  height: 180px;
  background-color: whitesmoke;
}

.img {
  height: 140px;
  width: 140px;
}
