section {
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: auto;
    width: 50%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: lightblue;
  }
  
  tr:nth-child(odd) {
    background-color: white;
  }